body{
background-size: cover;
font-family: 'Dancing Script', cursive;
}

.heading{
background-color: rgba(123, 141, 60, 0.833);
font-size: 30px;
font-weight: bolder;
font-style: italic;
width: 100%;
text-align: center;
}

#object_name{
width: 35%;
text-align: center;
font-size:20px;
}

#status{
background-color: rgb(46, 84, 101);
color: rgb(255, 255, 255);
font-weight: 100;
font-size: 20px;
width: 30%;
}

#object_status{
    background-color:lightseagreen;
    color: rgb(28, 28, 28);
    font-weight: 100;
    font-size: 20px;
    width: 30%;
}

canvas{
margin-left: 30%;
border-color: black;
border-style: ridge;
box-shadow: 5px 5px 5px whitesmoke;
border-width: 3.7px;
}